.item-material
  display: flex
  align-items: center
  margin-bottom: $space-medium
  color: $color-text-secondary
  text-decoration: none
  overflow: hidden

  .icon
    $size: 32px
    flex-shrink: 0
    width: $size
    height: $size
    line-height: $size
    margin-right: $space-medium
    background-color: $color-brand
    color: white
    font-size: 16px
    text-align: center
    border-radius: $space-small

  small
    color: $color-text-tertiary

// Dynamic colors
.item-material
  .icon.color-documents
    background-color: $color-documents
  .icon.color-slides
    background-color: $color-slides
  .icon.color-videos
    background-color: $color-videos
  .icon.color-workshops
    background-color: $color-workshops
  .icon.color-coding
    background-color: $color-coding
  .icon.color-evaluation
    background-color: $color-evaluation
  .icon.color-lock
    color: $color-placeholder
    background-color: $color-background

@media ( min-width: #{$media-tablet})
  .item-material
    margin-bottom: $space-big

    .icon
      $size: 64px
      position: relative // for the item # on the top
      width: $size
      height: $size
      line-height: $size
      font-size: 32px
      border-radius: $space-medium
