@import "../../../styles/_base/_swatches"
@import "../../../styles/_base/_variables"

input
  border-radius: 0 !important
  background: none !important
  border: none !important
  color: $color-text-secondary

input:focus,
input:hover
  background-color: $color-background !important
  color: $color-text-primary !important
