.list-material
  margin-bottom: $space-small

@media ( min-width: #{$media-tablet}) and (orientation: landscape)
  .list-material .grid-container
    display: grid
    grid-template-columns: repeat(2,  1fr)
    column-gap: $space-medium

@media ( min-width: #{$media-desktop}) and (orientation: landscape)
  .list-material .grid-container
    grid-template-columns: repeat(3,  1fr)
    column-gap: $space-big

@media ( min-width: #{$media-desktop-hd}) and (orientation: landscape)
  .list-material .grid-container
    grid-template-columns: repeat(4,  1fr)
